<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About {{ restaurant.name }}</title>
    </head>
    <body style="font-family:sans-serif; text-align:center; padding:40px;">
        <h1>About {{ restaurant.name }}</h1>
        {% if restaurant.logo %}
            <img src="{{ restaurant.logo.url }}" alt="Restaurant Logo" style="max-width:200px;">
        {% endif %}
        <h2>Our History</h2>
        <p>{{ restaurant.history }}</p>
        <h2>Our Mission</h2>
        <p>{{ restaurant.mission }}</p>
        <a href="index.html">Back to homepage</a>
        

        
    </body>
</html>
