<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>FAQ</title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> / <span>FAQ</span>
        </div>

        <h1>Frequently asked Questions</h1>
        <h3>Q1: What are your opening hours</h3>
        <h3>A1: We are open from 10AM to 10PM everyday</h3>

        <p><a href="/">Back to Home</a></p>
    </body>
</html>
